
/* reset do css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  === seletores mais genéricos === */
body{
    font-size: 12px;
    color: whitesmoke;
    background-color: #282A36;
    font-family: 'Source Code Pro', monospace;
    height: 100vh;
}

header {
  height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

header img{
  height: 110px;

}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  color: #50fa7b;
}



/* se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 400px){
  body{
    font-size: 14px;
  }

  .menu{
    padding: 50px;

    
  }

  .menu ul{
    display: flex;
    justify-content: space-between;
  }

  .menu a {
    font-size: 1em;
    display: block;
    padding: 10px 20px;
  }

}

/* breakpoint */
@media (min-width: 600px){
  body{
    font-size: 18px;
  }


}

/* breakpoint */
@media (min-width: 1200px){
  body{
    font-size: 20px;
    /* background-color: deeppink; */
  }

}

.menu{
  padding: 0;
  border-bottom: 2px solid #333333;
  background-color: #1c2035;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}



.menu li{
  list-style: none;
  margin: auto;
}

.menu a {
  font-size: 1.5em;
  display: block;
  padding: 10px 20px;
}

.menu a:hover{
  transition: color .5s;
}

.menu a:active{
  color: red;
}

.titulo{
  transform: scale(0.2) translateY(50vh);
  opacity: 0;

  animation: 1s linear 2s animacaoTitulo forwards; 
}

@keyframes animacaoTitulo{
  0% {
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
  }

  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

.site-title{
  font-size: 4em;
  font-family: 'Roboto', sans-serif;
}

.site-subtitle {
  font-style: italic;
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  line-height: 1.8em;

}



.sobre,
.contato,
.portfolio{
  padding: 2em;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;

}

@media (min-width: 1200px){
  .container{
    margin-left: auto;
    margin-right: auto; 
    max-width: 1200px;
  }
}

.sobre h2,
.contato h2,
.portfolio h2{
  color: whitesmoke;
  font-family: 'Source Code Pro', monospace;
  margin-bottom: 1.5em;
  font-size: 3em;
  text-align: center;
}

.sobre .avatar{
  text-align: center;
}

.sobre .avatar img{
  border-radius: 50%;
  
}


.sobre a{
  text-decoration: underline;
}

.sobre  p{
  padding-right: 4em;
  padding-left: 4em;
}

.sobre p{
  color: white;
  text-indent: 1.4em;
  margin-bottom: 1.4em;
  text-align: justify;
}

@media (min-width: 600px){

  .sobre .avatar img{
    border-radius: 0%;
  }
  .sobre .avatar{
    float: right;
    margin-left: 2em;
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    
  }
}

.portfolio .grid{
  display: grid;
  gap: 2em;
  justify-content: center;
}


@media (min-width: 560px){
  .portfolio .grid{
    grid-template-columns: 240px 240px;
  }
}

@media (min-width: 880px){
  .portfolio .grid{
    grid-template-columns: repeat(3, 260px);
    justify-content: center;
  }
}


@media (min-width: 880px){
  .portfolio .grid{
    grid-template-columns: repeat(3, 260px);
    align-content: center;
    justify-content: center;
    height: calc(100vh - 8em - 48px);

  }
}

.portfolio figure{
  text-align: center;
}

.img-portfolio{
  height: 180px;
  width: 100%;
  object-fit: cover;
  object-position: left bottom;
  transition: transform 500ms;

}

/* .img-portfolio:hover{
  transform: scale(1.2);
} */

.flip-card{
  perspective: 1000px;
}

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 3s;

}

.flip-card:hover .card{
  transform: rotateY(180deg);
}

.card-front, .card-back{
  backface-visibility: hidden;
  left: 0;
  position: absolute;
  top: 0;
}

.card-back {
  height: 180px;
  color: black;
  background-color: white;
  transform: rotateY(180deg);

}





@media (min-width: 1200px){
  .portfolio .grid{
    height: auto;
    width: 100%;
  }
}

/* === Contato === */
.contato .icons{
  text-align: center;
}

.contato a{
  font-size: 2em;
}

.contato a:hover{
  color: white;
  text-shadow: 0px 0px 10px rgba(80, 250, 123, .5);

}



  